*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
widget/build/outputs/logs/manifest-merger-debug-report.txt
widget/build/intermediates/symbols/debug/R.txt
widget/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
widget/build/intermediates/packaged_res/debug/values/values.xml
widget/build/intermediates/merged_manifests/debug/processDebugManifest/merged/output.json
widget/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
widget/build/intermediates/incremental/packageDebugResources/merger.xml
widget/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
widget/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
widget/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output.json
widget/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/slidingpanelayout/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/print/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/localbroadcastmanager/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/loader/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/interpolator/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/graphics/drawable/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/fragment/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/drawerlayout/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/documentfile/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/customview/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/cursoradapter/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/coreutils/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/coreui/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/coordinatorlayout/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/compat/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/asynclayoutinflater/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/viewmodel/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/livedata/core/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/livedata/R.java
util/build/intermediates/incremental/packageDebugResources/merger.xml
util/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
util/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
util/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output.json
util/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
util/build/generated/source/buildConfig/debug/com/berlski/custom/util/BuildConfig.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/com/berlski/custom/util/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/androidx/versionedparcelable/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/v7/viewpager/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/v7/appcompat/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/swiperefreshlayout/R.java
widget/build/generated/source/buildConfig/debug/com/berlski/custom/widget/BuildConfig.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/com/berlski/custom/widget/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/androidx/versionedparcelable/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/v7/viewpager/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/v7/appcompat/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/swiperefreshlayout/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/slidingpanelayout/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/print/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/localbroadcastmanager/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/loader/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/interpolator/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/viewmodel/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/livedata/core/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/livedata/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/core/R.java
util/build/outputs/logs/manifest-merger-debug-report.txt
util/build/intermediates/symbols/debug/R.txt
util/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
util/build/intermediates/packaged_res/debug/values/values.xml
util/build/intermediates/merged_manifests/debug/processDebugManifest/merged/output.json
util/build/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/graphics/drawable/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/fragment/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/drawerlayout/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/documentfile/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/customview/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/cursoradapter/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/coreutils/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/coreui/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/coordinatorlayout/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/compat/R.java
widget/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/support/asynclayoutinflater/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/lifecycle/R.java
util/build/generated/not_namespaced_r_class_sources/debug/generateDebugRFile/out/android/arch/core/R.java
