<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berlski.tool">

    <application
        android:name="com.berlski.tool.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.berlski.tool.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.berlski.tool.activity.ClickActivity"/>
        <activity android:name="com.berlski.tool.activity.InfoEntryActivity"/>
        <activity android:name="com.berlski.tool.activity.MenuButtonActivity"/>
        <activity android:name="com.berlski.tool.activity.NumberRangeActivity"/>
        <activity android:name="com.berlski.tool.activity.NumberRangeSliderActivity"/>
        <activity android:name="com.berlski.tool.activity.SelectBeanActivity"/>
        <activity android:name="com.berlski.tool.activity.ShadowButtonActivity"/>
        <activity android:name="com.berlski.tool.activity.SpeechInputActivity"/>
        <activity android:name="com.berlski.tool.activity.SwitchOptionActivity"/>
        <activity android:name="com.berlski.tool.activity.InfoItemEditActivity"/>

    </application>

</manifest>